<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fxc.mediaplayer">

    <application
        android:name="com.fxc.ev.mediacenter.MediaPlayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.fxc.ev.mediacenter.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.fxc.ev.mediacenter.MusicWidget"
            android:label="Music">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action 
android:name="MediaPlayer.stateChanged" />
                <action 
android:name="MediaPlayer.ITEMChanged" />
                <action android:name="device.lost" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/music_widget_setting" />
        </receiver>

        <service
            android:name="com.fxc.ev.mediacenter.service.MediaPlayerService"
            
android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="MediaPlayerService" />
            </intent-filter>
        </service>


    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>